.header {
	background: #ff8080;
	width:900px;
	height:120px;
	margin: 0 auto;
}

.header h1 {
	text-align: right;
	margin-right: 20px;
	font-family: verdana;
	width: 1000px;
	background:#000;
	color:#fff;
	float: right;
	padding: 10px;
	border-radius: 10px;
}

.header small {
	font-size: 50%;
	border-bottom: 1px solid #660000
}

.menu {
	overflow: hidden;
	background-color: #333;
}
.menu a {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
	color:#ffff00;
    border-bottom: 2px solid #ffff00;
}

.content {
	width: 900px;
	height: 400px;
	margin: 0 auto;
	background :#999;
}

.subc {
	width: 280px;
	height: 380px;
	background: #fff;
	border-radius: 10px;
	float: left;
	margin: 5px;
}