.header {
	background: #ff8080;
	width:1000px;
	height: 100px;
	margin: 0 auto;
}

.header h1 {
	text-align: center;
	margin-right: 20px;
	font-family: verdana;

}

.header small {
	font-size: 50%;
	border-bottom: 1px solid #660000

}


.menu {
	width: 1000px;
	overflow: hidden;
	background-color: #333;
	
}

.menu a {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: #ffff00;
}

.content{
width: 900px;
height: 400px;
margin: 0 auto;
background: #999;

}

.subc{
width: 200px;
height:300px;
background: #fff;
float:left;
margin: 0 auto;

}
